node_modules
.next
.turbo
dist
build
coverage
*.tsbuildinfo
.husky/_
public/data/
supabase/migrations/*.sql
package-lock.json
pnpm-lock.yaml
yarn.lock
tests/**
test/**
*.spec.ts
*.spec.tsx
test-results/**
playwright-report/**
next-env.d.ts

