name: CODEOWNERS Validation

on:
  pull_request:
    paths:
      - '.github/CODEOWNERS'
  push:
    branches: [main]
    paths:
      - '.github/CODEOWNERS'

jobs:
  validate:
    name: Validate CODEOWNERS
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.4
        with:
          checks: files,owners,duppatterns
          experimental_checks: notowned

